%tr
  %td= division.name
  %td= link_to 'Show', division_path(division), class: 'btn btn-success btn-block btn-sm'
  -if current_user.has_role? :headmaster
    %td= link_to 'Edit', edit_division_path(division), class: 'btn btn-info btn-block btn-sm'
    %td= link_to 'Destroy', division_path(division), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-block btn-sm'
