%h1 Divisions
%p

%table.table.table-hover
  %tr.active
    %th Name
    %th
    %th
    %th
  - if current_user.has_role? :teacher
    - teacher_divisions.each do |division|
      = render 'division', division: division
  - else
    - divisions.each do |division|
      = render 'division', division: division

- if current_user.has_role? :headmaster
  = link_to 'New', new_division_path, class: 'btn btn-success'
%br
