/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 @import "bootstrap";
 /* mixins, variables, etc. */

 $gray-medium-light: #eaeaea;

 /* universal */
 section {
   overflow: auto;
 }

 textarea {
   resize: vertical;
 }

 .center {
   h1 {
     margin-bottom: 10px;
   }
 }

 .btn {
   margin:5px;
 }

 .jumbotron {
   background-color: white;
   padding-top: 20px;
   h1, h2, h3, h4, h5, h6 {
     line-height: 1;
   }

   h1 {
     font-size: 3em;
     letter-spacing: -2px;
     margin-bottom: 30px;
   }

   h2 {
     font-size: 1.2em;
     letter-spacing: -1px;
     margin-bottom: 30px;
     text-align: center;
     font-weight: normal;
     color: $gray-light;
   }
   p {
     font-size: 1.1em;
     line-height: 1.7em;
   }
 }

 .panel-primary{

   .panel-body {
      padding: 5px;
     padding-left: 15px;
   }
   .panel-footer {
     padding: 5px;
     padding-left: 15px;
   }
   p {
     padding: 5px;
     margin: 0px
   }
 }
 /* header */

 span.navbar-brand {
   float: left;
   font-size: 1.7em;
   color: white;
   text-transform: uppercase;
   letter-spacing: -1px;
   text-aligne: middle;
   font-weight: bold;
   &:hover {
     color: white;
     text-decoration: none;
   }
 }
